{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Project {{ project.pk }}{% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
            Project #{{ project.pk }}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ project.name }}</h4>
            <h5 class="card-text">{{ project.description }}</h5>
        </div>
        <p class="card-text">Start date: {{ project.start }}</p>
        <p class="card-text">Deadline: {% if not project.deadline %}Not set{% else %}
            {{ project.deadline }}{% endif %}</p>
        <a href="{% url 'project_team' project.pk %}">View Team</a>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        {% if not request.user.is_authenticated %}
            <a href="{% url 'projects' %}" class="btn btn-success">Return</a>
        {% else %}
            <div class="btn-group" role="group" aria-label="Large button group">
                <a href="{% url 'projects' %}" class="btn btn-primary">Return</a>
                {% if request.user in project.user.all %}
                    {% if perms.issuetracker.change_project %}
                        <a href="{% url 'update_project' project.pk %}" class="btn btn-secondary">Edit</a>
                    {% endif %}
                    {% if perms.issuetracker.delete_project %}
                        <a class="btn btn-danger" data-bs-toggle="modal"
                           data-bs-target="#staticBackdropDelete">Delete</a>
                    {% endif %}
                    {% if perms.issuetracker.add_issue %}
                        <a href="{% url 'create_issue' project.pk %}" class="btn btn-success">Add Issue</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        <div class="modal fade" id="staticBackdropDelete" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabelDelete" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabelDelete">Delete Project
                            #{{ project.pk }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete Project "{{ project.name }}". It will also delete all issues in
                        this project
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="{% url 'delete_project' project.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br>
        {% if not issues %}
            <div class="text-center">
                <div>
                    <h3>No issues in this project</h3>
                </div>
            </div>
        {% else %}
            {% include 'partial/issues_list.html' %}
        {% endif %}
    </div>


{% endblock %}
